.form-container {
    margin: auto;
    box-sizing: border-box;
    padding: 2em;
    color: inherit;
}

  dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }

  form{
    display: block;
    margin-top: 0em;
  }

 .form-control{
    margin: 1.5em 1em;
  }


 input[type=text], input[type=number]{
    padding: .5em 1em;
    border: 1px solid;
 }

 .form-container .form-control label {
    display: inline-block;
    width: 10em;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: start;
}

.form-container>form button {
    margin-left: 10em;
}

button.btn {
    display: inline-block;
    padding: .5em 1.5em;
    text-transform: uppercase;
}

.primary {
    background: #2e8b57;
    color: #fff;
}

button {
    appearance: none;
    background: transparent;
    border: none;
    font: inherit;
    padding: 0;
    width: auto;
}